include ./../mixins/_bestPriceGood.pug

section.best-price 
	img.best-price__decor.decor(src="img/decor.webp", alt="decor")
	.center-box
		h1.title.best-price__title Лучшая цена
	.best-price__slider.slider-best 
		+bestPriceGood('good-1.webp', 'Хурма Медовая Восточная', '275')
		+bestPriceGood('good-2.webp', 'Яблоки Голден', '119')
		+bestPriceGood('good-3.webp', 'Томаты Чери Кубанские', '189')
		+bestPriceGood('good-4.webp', 'Огурцы Корнишоны Тепличные', '275')
		+bestPriceGood('good-5.webp', 'Манго Желтое Таиланд', '1527')
		+bestPriceGood('good-1.webp', 'Хурма Медовая Восточная', '275')
		+bestPriceGood('good-2.webp', 'Яблоки Голден', '119')
		+bestPriceGood('good-3.webp', 'Томаты Чери Кубанские', '189')