section.info 
	img.info__vegetables(src="img/vegetables-2.webp" alt="vegetables")
	.center-box 
		h3.title.info__title Интернет магазин свежих и здоровых продуктов
	img.info__img(src="img/banner.webp" alt="banner")
	.info__content.content-info
		.content-info__col 
			.content-info__title.elem-title Какой то заголовок
			p Мы - команда, имеющая огромный опыт в плодово-овощном бизнесе. С 2002 г. мы занимаемся импортом ягод, фруктов, овощей, грибов, трав, орехов из Европы, Африки, Азии с целью дальнейшего снабжения продовольственных магазинов и предприятий общепита. На данном этапе у нас есть собственная логистическая цепочка, включающая специализированный транспорт, плодово-овощное хранилище и надежных, проверенных временем, поставщиков качественной продукции. В нашем магазине можно:
			ul
				-
					var list = [
						"Купить фрукты", 
						"Купить овощи", 
						"Купить фрукты и овощи оптом",
						"Заказать фрукты в офис",
						"Купить фрукты и овощи поштучно"
					]
				each item in list
					li
						a(href="/")= item
		.content-info__col 
			.content-info__title.elem-title Какой то заголовок
			p Мы осуществляем доставку овощей собственной курьерской службой. Почему стоит покупать именно у нас:
			ul
				-
					var list = [
						"У нас самый свежий товар", 
						"У нас низкие цены", 
						"У нас самые выгодные условия на покупку овощей и фруктов оптом"
					]
				each item in list
					li
						a(href="/")= item
		.content-info__col 
			.content-info__title.elem-title Какой то заголовок
			p Цены указаны за 1 кг или упаковку, с учетом НДС. В нашем магазине не обязательно регистрироваться. Если у вас возникают трудности при формировании заказа - вы можете оформить покупку овощей и фруктов по телефону. Мы принимаем наличные. Для юр лиц мы выставляем счет на оплату. Условия для оптовиков представлены здесь.