// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
// fancybox
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
// inputmask
script(src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js")
// slick slider
script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
// bootstrap
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")
// yandex map
// <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

// scripts
script(src="js/main.js")