section.subscription 
	.subscription__title
		h5 Подписаться
			br 
			| на новости
	form.subscription__form(action="#")
		input.subscription__input(type="text" placeholder="Email")
		button.subscription__button подписаться