<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | О компании
	body

		// ======================================== HEADER
		include ./../sections/_header.pug
		.about-page.overflow-hidden
			// ======================================== ИНТЕРНЕТ МАГАЗИН СВЕЖИХ И ЗДОРОВЫХ ПРОДУКТОВ
			include ./../sections/_info.pug
			// ======================================== ПОЧЕМУ САЛАТ
			include ./../sections/_advantages.pug
			// ======================================== ПОДПИСКА
			include ./../sections/_subscription.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug