<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Главная
	body 
	
		// ======================================== HEADER
		include ./../sections/_header.pug
		.main-page.overflow-hidden
			// ======================================== HOME
			include ./../sections/_home.pug
			// ======================================== ЛУЧШАЯ ЦЕНА
			include ./../sections/_bestPrice.pug
			// ======================================== НОВОСТИ
			include ./../sections/_news.pug
			// ======================================== ВЫБОР ТОВАРОВ
			include ./../sections/_goods.pug
			// ======================================== ИНТЕРНЕТ МАГАЗИН СВЕЖИХ И ЗДОРОВЫХ ПРОДУКТОВ
			include ./../sections/_info.pug
			// ======================================== ПОЧЕМУ САЛАТ
			include ./../sections/_advantages.pug
			// ======================================== ПОДПИСКА
			include ./../sections/_subscription.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug


