<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Новости
	body

		// ======================================== HEADER
		include ./../sections/_header.pug
		.news-page.overflow-hidden
			include ./../mixins/_newPreview.pug
			section.news
				.center-box 
					h1.title.news__title Свежие новости
				.news__items.js-items
					+newPreview('new-1.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-2.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-3.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-4.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-1.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-2.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-3.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-4.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-1.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-2.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-3.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
					+newPreview('new-4.webp', 'Заголовок Статьи', 'Небольшой текст о самой статье для привлечения внимания')
				.center-box 
					button.button-red.js-more еще статьи
				img.news__decor.decor(src="img/decor-2.webp", alt="decor")
			// ======================================== ИНТЕРНЕТ МАГАЗИН СВЕЖИХ И ЗДОРОВЫХ ПРОДУКТОВ
			include ./../sections/_info.pug
			// ======================================== ПОЧЕМУ САЛАТ
			include ./../sections/_advantages.pug
			// ======================================== ПОДПИСКА
			include ./../sections/_subscription.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug